
main {
  padding: 20px;
}

label{
  display: block;
  margin-bottom: 15px;
}
input[type=text],input[type=email],input[type=tel],textarea,select{
  padding:10px;
  width:400px;
  font-size: 15px;
  border: 1px solid #CCC;
  outline:0; 
  border: 1px solid gray; 
}


textarea{
  height: 200px;
  resize: none;
  border: 1px solid gray; 
}
#button-contato{
  padding: 10px;
  font-size: 15px;
  background-color: #8A0302; 
  border: 1px solid gray; 
}

#button-contato:hover{
  background-color: #660202;

}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main label{
  width:100%;
  max-width: 400px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold; 
}
main input,textarea,select,
#button-contato {
  width: 100%;
  box-sizing: border-box;
  color: black;
  font-weight: bold; 
  
}
#button-contato{
  color: white;
  font-size: 20px;
}

.container {
  display: inline-flex;
  gap: 20px;
  margin: 20px;
 
}

.label-container {
  max-width: 280px; 
  margin-bottom: 50px;
  width: 50%;
  margin:0 auto;
  background-color: #f8f3f3; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.label-container h1{
  text-align: center;
}

.duvidas-container{ 
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.imagem-pergunta {
  width: 500px; 
  height: auto;
  display: block;
  margin: 0 auto; 
  margin-bottom: 20px; 
}

.duvidas-container h1{
  text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.label-container,
.duvidas-container,
.contato-container {
    flex: 1 1 300px; 
    max-width: 100%;
    box-sizing: border-box;
}
  

.contato-container h1{
  text-align: center;
  margin:0 auto;
  background-color: #0f15cf; 

}

.imagem1{
  display: flex;
  align-items: center;
  gap:20px;
  object-fit: cover;   
  border-radius: 50%;
  
}

  
.imagem1 p{
  font-size: 18px;

  
}
.imagem1 img{
   width: 90px;
   height: auto;
   object-fit: cover;  
   border-radius: 50%;
   
}

.imagem2{
  display: flex;
  align-items: center;
  gap:20px;
  object-fit: cover;   
  border-radius: 50%;

  

}
#sobre {
    max-width: 2000px;
    margin: 40px auto;       
    padding: 10px;
    text-align: justify;   
    line-height: 1.6;       
    font-size: 15px;
    align-items: center;
    width: 80%;    
    font-family: 'Poppins', sans-serif;
    text-indent: 30px;     

  
}
#sobre p {
  margin-top: 0;
  margin-bottom: 6px; 
}
#sobre h1 {
  text-align: center;
}


.imagem2 p{
  font-size: 18px;
}
.imagem2 img{
   width: 90px;
   height: auto;
   object-fit: cover;  
   border-radius: 50%;
  
}
.contato-container {
    width: 40%; 
    max-width: 410px; 
   
}
.label-container{
  width: 40%; 
  max-width: 500px; 
}

.container-fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a . b"
    ". c ."
    "d . e";
  margin: 2% 10%;
  gap: 50px;
}

#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  gap: 10px;
}

.foto img {
  width: 300px;          
  height: 300px;
  object-fit: cover;      
  border-radius: 500%;  
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px #000;
}

@media screen and (max-width:1200px) {
  .container-fotos {
    grid-template-columns: 1fr;
    grid-template-areas:
          "a"
          "b"
          "c"
          "d"
          "e";
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .label-container,
  .duvidas-container,
  .contato-container {
    width: 100%;
  }

  .foto img {
    width: 250px;
    height: 250px;
  }
}