main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#sobre {
    max-width: 2000px;
    margin: 40px auto;       
    padding: 10px;
    text-align: justify;   
    line-height: 1.6;       
    font-size: 15px;
    align-items: center;
    width: 80%;    
    font-family: 'Poppins', sans-serif;
    text-indent: 30px;     

  
}

#sobre p {
  margin-top: 0;
  margin-bottom: 6px; 
}

#sobre h1 {
  text-align: center;
}


.container-fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a . b"
    ". c ."
    "d . e";
  margin: 2% 10%;
  gap: 50px;
}

#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  gap: 10px;
}

.foto img {
  width: 200px;          
  height: 200px;
  object-fit: cover;      
  border-radius: 500%;  
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px #000;
}

@media screen and (max-width:1200px) {
  .container-fotos {
    grid-template-columns: 1fr;
    grid-template-areas:
          "a"
          "b"
          "c"
          "d"
          "e";
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .label-container,
  .duvidas-container,
  .contato-container {
    width: 100%;
  }

  .foto img {
    width: 250px;
    height: 250px;
  }
}