@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #000;
    overflow-x: hidden;
}

header {
    background-color: #8A0302;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}

header #logo {
    width: auto;
}

#logo img {
    width: 270px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.5rem 10%;
}

nav ul,
.mobile-menu ul {
    font-family: 'Koulen', cursive;
    list-style: none;
    width: 100%;
}

nav ul {
    display: flex;
    max-width: 600px;
    justify-content: space-between; 
    align-items: center;
    gap: 50px;
}

nav a,
.mobile-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

nav a:hover {
    opacity: 0.8;
}

.mobile-menu-icon {
    display: none;
}

.icon {
    min-width: 60px;
}

.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 99%;
    background-color: #8A0302;
    z-index: 999;
}

p {
    margin: 1.8em 0 2em 0;
}

h1 {
    font-size: 2em;
}

.body-text {
    margin: 2% 10%;
}

footer {
    background-color: #8A0302; 
    padding: 2% 10% 2% 10%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    flex: 1 1 20%;
}

.footer-logo img {
    width: 70%;
    margin-top: 5%;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    padding-top: 1%;
    border-top: 0.1em solid #fff;
    font-size: 0.9rem;
}

@media screen and (max-width: 1200px) {
    nav {
        padding: 1.5rem 4rem;
    }
    nav li,
    .mobile-menu li {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .mobile-menu li {
        display: block;
        padding: 0.8rem 0;
    }
    .mobile-menu li:hover {
        background: #660202;
    }
    .open {
        display: block;
    }
}